    <!-- Defino el contenedor de la primera parte del front end--> 
    <div class="container" style="background-color:white;">
        
            <button type="bottom" class="btn btn-dark" routerLink="/editPersona/{{persona.id}}" *ngIf="isLogged">Edit Persona</button>
         
        <div class="row">
            <div class="col">
                <div class="card border-0">
                    
                    <img src= {{persona.image_background_header}} alt="" width="100%" height="100%" class="card-img-top">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-body text-center">
                                <p class="card-title"> <font size="5" face="Comic Sans MS,Arial" color="black"><strong> {{persona.nombres}}    {{persona.apellido}}
                                     </strong></font></p>
                                <p class="card-title"> <font size="4" face="Comic Sans MS,Arial" color="black"><strong> {{persona.ocupacion}}
                                    </strong></font></p>
                                <p class="card-text text-align">
                                    
                                </p>

                            </div>
                        </div>
                        <div class="col">
                            <div class="card-body">

                                <p><font size="3" face="Comic Sans MS,Arial" color="blue">
                                   {{persona.acercaDe}}
                                </font></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
<!--<header>
    <div class="caja">
        <img src="../../assets/images/foto_escritorio_3.jpg" alt="" width="100%" height="90%">
        <div class="texto1">Ernesto Dominikow</div>
        <div class="texto2">Acerca de esta persona que es un poco distraida esta persona que es un poco distraida Acerca de esta persona que es un poco distraida esta persona que es un poco distraida</div>
        <button type="button" class="boton" >Experiencia</button>
        <button type="button" class="boton1" >Formacion</button>
        <button type="button" class="boton2" >Skills</button>
        <button type="button" class="boton3" >Proyectos</button>

    </div>
</header>-->
