<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="titulo">Titulo</label>
                    <input type="text" class="form-control" id="titulo" name="empresa" [(ngModel)]="formEdit.titulo" required>
                </div>
                <div class="form-group">
                    <label for="fecha">Fecha / Año de cursada</label>
                    <input type="text" class="form-control" id="fecha" name="desde" [(ngModel)]="formEdit.fecha" >
                </div>
                <div class="form-group">
                    <label for="institucion">Institucion de cursada</label>
                    <input type="text" class="form-control" id="institucion" name="institucion" [(ngModel)]="formEdit.institucion" required>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripcion de la capacitacion</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="formEdit.descripcion" required>
                </div>
                <div class="form-group">
                    <label for="claseForm">Clase de capacitacion</label>
                    <input type="text" class="form-control" id="claseForm" name="claseForm" [(ngModel)]="formEdit.claseForm" >
                </div>
                <button class="btn btn-primary">
                    Actualizar Formacion
                </button>
            </form>
        </div>
    </div>
</div>
