<div class="container-sm" style="background-color:white;">
    <div style="height:20px;"></div>
    <a name="proyectos" id="proyectos"></a>

    <p style = "font-family:georgia,garamond,serif;font-size:35px;font-style:italic;font-weight: bold;">
        Proyectos
     </p>

    <div style="height:30px;"></div>

    <div class="row" *ngFor="let proyectos of proyectosList">
        <div class="col-md-4">
            <div class="card border-5 text-white bg-secondary mb-3 text-center">
                {{proyectos.nombre}} <br>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card border-5 text-white bg-secondary mb-3 card-text">
                 {{proyectos.descripcion}} link {{proyectos.link}} <br><br><br><br>
            </div>
        </div>
        <div style="height:30px;"></div>
    </div>

</div>

