<div class="container-sm" style="background-color:white;">
    <div style="height:20px;"></div>
    <a name="formacion" id="formacion"></a>

    <p style = "font-family:georgia,garamond,serif;font-size:35px;font-style:italic;font-weight: bold;">
        Formación
     </p>
     <p style = "font-family:georgia,garamond,serif;font-size:25px;font-style:italic;font-weight: bold;">
        Educación Formal
     </p>
    <div style="height:30px;"></div>
    <div class="row">
        <div class="col-md-2">
            <div class="card border-5 text-white bg-secondary mb-3 text-center">
                Primario <br>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card border-5 text-white bg-secondary mb-3 text-center">
                Titulo
            </div>
        </div>
        <div class="col-md-8">
            <div class="card border-5 text-white bg-secondary mb-3 card-text">
                 Institución.<br><br><br><br>
            </div>
        </div>
    </div>
    <div style="height:15px;"></div>
    <div class="row">
        <div class="col-md-2">
            <div class="card border-5 text-white bg-secondary mb-3 text-center">
                Secundario <br>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card border-5 text-white bg-secondary mb-3 text-center">
                Titulo
            </div>
        </div>
        <div class="col-md-8">
            <div class="card border-5 text-white bg-secondary mb-3 card-text">
                 Institución.<br><br><br><br>
            </div>
        </div>
    </div>
    <div style="height:15px;"></div>
    <div class="row">
        <div class="col-md-2">
            <div class="card border-5 text-white bg-secondary mb-3 text-center">
                Universitario <br>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card border-5 text-white bg-secondary mb-3 text-center">
                Titulo
            </div>
        </div>
        <div class="col-md-8">
            <div class="card border-5 text-white bg-secondary mb-3 card-text">
                 Institución.<br><br><br><br>
            </div>
        </div>
    </div>
    <div style="height:15px;"></div>
    <div class="row">
        <div class="col-md-2">
            <div class="card border-5 text-white bg-secondary mb-3 text-center">
                Post Grado <br>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card border-5 text-white bg-secondary mb-3 text-center">
                Titulo
            </div>
        </div>
        <div class="col-md-8">
            <div class="card border-5 text-white bg-secondary mb-3 card-text">
                 Institución.<br><br><br><br>
            </div>
        </div>
    </div>
    <div style="height:15px;"></div>
    <p style = "font-family:georgia,garamond,serif;font-size:25px;font-style:italic;font-weight: bold;">
        Cursos y Seminarios
     </p>
    <div style="height:30px;"></div>
    <div class="row">
        <div class="col-md-2">
            <div class="card border-5 text-black  mb-3 text-center">
                Institución <br>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card border-5 text-black  mb-3 card-text">
                 Curso Realizado.<br>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="card border-5 text-black  mb-3 text-center">
                Institución <br>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card border-5 text-black  mb-3 card-text">
                 Curso Realizado.<br>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="card border-5 text-black  mb-3 text-center">
                Institución <br>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card border-5 text-black  mb-3 card-text">
                 Curso Realizado.<br>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="card border-5 text-black  mb-3 text-center">
                Institución <br>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card border-5 text-black  mb-3 card-text">
                 Curso Realizado.<br>
            </div>
        </div>
    </div>

</div>
