<div class="container-sm" style="background-color:white;">
    <div style="height:20px;"></div>
    <a name="formacion" id="formacion"></a>

    <p style = "font-family:georgia,garamond,serif;font-size:35px;font-style:italic;font-weight: bold;">
        Formación
     </p>
     <p style = "font-family:georgia,garamond,serif;font-size:25px;font-style:italic;font-weight: bold;">
        Educación Formal
     </p>
    <div style="height:30px;"></div>

    <div class="row" *ngFor="let formacion of formacionList" >
        <div class="col-md-2">
            <div class="card border-5 text-white bg-secondary mb-3 text-center">
                {{formacion.nivel}} <br>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card border-5 text-white bg-secondary mb-3 text-center">
                {{formacion.titulo}}
            </div>
        </div>
        <div class="col-md-8">
            <div class="card border-5 text-white bg-secondary mb-3 card-text">
                 {{formacion.institucion}} <br><br><br><br>
            </div>
        </div>
        <div style="height:15px;"></div>
    </div>


    <div style="height:15px;"></div>
    <p style = "font-family:georgia,garamond,serif;font-size:25px;font-style:italic;font-weight: bold;">
        Cursos y Seminarios
     </p>
    <div style="height:30px;"></div>
    <div class="row" *ngFor="let cursos of cursosList" >
        <div class="col-md-2">
            <div class="card border-5 text-black  mb-3 text-center">
                {{cursos.lugar}} <br>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card border-5 text-black  mb-3 card-text">
                {{cursos.curso}}<br>
            </div>
        </div>
    </div>

</div>
