
<div class="container" style="background-color:rgb(168, 243, 143);">
    <div style="height:20px;"></div>
    <a name="experiencia" id="experiencia"></a>

    <p style = "font-family:georgia,garamond,serif;font-size:35px;font-style:italic;font-weight: bold;">
        Experiencia Laboral <button type="bottom" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">Nueva Experiencia     </button>
     </p>
 
    <div style="height:30px;"></div>
    
    <div class="row" *ngFor="let experiencia of experienciaList">
        <div class="col-md-2">
            <div class="card border-5 text-white bg-secondary mb-3 text-center">
                {{experiencia.empresa}} <br>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card border-5 text-white bg-secondary mb-3 text-center">
                Desde {{experiencia.desde}} <br> Hasta {{experiencia.hasta}}
            </div>
        </div>
        <div class="col-md-7">
            <div class="card border-5 text-white bg-secondary mb-3 card-text">
                 {{experiencia.puesto}} <br>
                 {{experiencia.tareas}} <br><br><br><br>
            </div>
        </div>
        <div class="col-md-1">
            <td *ngIf="isLogged">
                <button class="btn btn-light" routerLink="/editexp/{{experiencia.id}}"> <i class="bi bi-pencil-fill"></i></button>
                
            </td>
            <br>
            <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(experiencia.id)"> <i class="bi bi-trash"></i></button>

            </td>
        </div>
        <div style="height:15px;"></div>
    </div>

</div>