.row{
    background: #aff6ac;
    
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes{
    margin-right: 0.9em;
}
#logoAP{
    width: 150px;
    margin-left: 1.5em;
}
img{
    width: 40px;
}
.btn{
    width: 15;
    height: 15;
}

.bi {
    font-size: 2em;
    margin-left:0.2em;
  }

/*--- Para la vista de celular ---*/
@media (max-width: 575px){
    .container{
        flex-direction: column;
    }
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .redes img{
        margin: 0.2em;
    }
}