<div class="container-sm" style="background-color:white;">
    <div style="height:20px;"></div>
    <a name="experiencia" id="experiencia"></a>

    <p style = "font-family:georgia,garamond,serif;font-size:35px;font-style:italic;font-weight: bold;">
        Experiencia Laboral
     </p>
    <div style="height:30px;"></div>
    
    <div class="row" *ngFor="let experiencia of experienciaList">
        <div class="col-md-2">
            <div class="card border-5 text-white bg-secondary mb-3 text-center">
                {{experiencia.empresa}} <br>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card border-5 text-white bg-secondary mb-3 text-center">
                Desde {{experiencia.desde}} <br> Hasta {{experiencia.hasta}}
            </div>
        </div>
        <div class="col-md-8">
            <div class="card border-5 text-white bg-secondary mb-3 card-text">
                 {{experiencia.detalle}} <br><br><br><br>
            </div>
        </div>
        <div style="height:15px;"></div>
    </div>

</div>
