    <!-- Defino el contenedor de la primera parte del front end--> 
    <div class="container-sm" style="background-color:white;">
        <div class="row">
            <div class="col">
                <div class="card border-0">
                    <div class="card-header max-height:70%">
                        <div class="row" >
                            <div class="col-md-1">
                              <img [src]="miPortfolio.logo" classs="card-fluid" alt="" width="30" height="30">
                            </div>
                            <div class="col-md-3 text-align">
                                <h5>Argentina Programa</h5>
                            </div>
                    
                            <div class="col-md-5 text-align">
                              <div class="nav-scroller py-1 mb-2">
                                <nav class="nav d-flex .collapse.navbar-collapse">
                                  <font face="Comic Sans MS, arial">
                                  <a class="p-2 link-secondary" href="#experiencia">Experiencia</a>
                                  <a class="p-2 link-secondary" href="#formacion">Formación</a>
                                  <a class="p-2 link-secondary" href="#fortalezas">Skills</a>
                                  <a class="p-2 link-secondary" href="#proyectos">Proyectos</a>
                                  </font>
                                </nav>
                              </div>
                            </div>
                    
                            <div class="col-md-3">
                              <a class="p-2 link-secondary" href="https://es-la.facebook.com/" target="_blank"><img [src]="miPortfolio.facebook" classs="card-fluid" alt="" width="20" height="20"></a>
                              <a class="p-2 link-secondary" href="https://twitter.com/?lang=es" target="_blank"><img [src]="miPortfolio.twitter" classs="img-fluid" alt="" width="20" height="20"></a>
                              <a class="p-2 link-secondary" href="https://ar.linkedin.com/" target="_blank"><img [src]="miPortfolio.linkedin" classs="img-fluid" alt="" width="20" height="20"></a>
                              <a class="p-2 link-secondary" href="mailto:edominikow@yahoo.com.ar" target="_blank"><img [src]="miPortfolio.email" classs="img-fluid" alt="" width="20" height="20"></a>
                              <a class="btn btn-sm btn-outline-secondary" href="#" >Sign in</a>
                            </div>
                    
                          </div>
                    </div>
                    <img [src]="miPortfolio.imgfondo" alt="" class="card-img-top">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-body text-center">
                                <h3 class="card-title"> <font size="5" face="Comic Sans MS,Arial" color="blue"><strong> {{miPortfolio.nombre}} </strong></font></h3>
                                <p class="card-text text-align">
                                   
                                </p>

                            </div>
                        </div>
                        <div class="col">
                            <div class="card-body">

                                <p><font size="5" face="Comic Sans MS,Arial" color="blue">
                                   {{miPortfolio.acercade}}
                                </font></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>